<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>accounting_liuju.png</key>
            <dict>
                <key>frame</key>
                <string>{{201,2},{156,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,88}}</string>
                <key>sourceSize</key>
                <string>{156,88}</string>
            </dict>
            <key>arm2_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,415},{104,79}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{104,79}}</string>
                <key>sourceSize</key>
                <string>{108,79}</string>
            </dict>
            <key>arm_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,415},{110,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,74}}</string>
                <key>sourceSize</key>
                <string>{110,74}</string>
            </dict>
            <key>body_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,181},{126,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,115}}</string>
                <key>sourceSize</key>
                <string>{126,115}</string>
            </dict>
            <key>cry01_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{333,118},{114,130}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{114,130}}</string>
                <key>sourceSize</key>
                <string>{114,136}</string>
            </dict>
            <key>cry01_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,208},{115,119}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{115,119}}</string>
                <key>sourceSize</key>
                <string>{115,121}</string>
            </dict>
            <key>cry02_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{201,92},{114,130}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{114,130}}</string>
                <key>sourceSize</key>
                <string>{114,136}</string>
            </dict>
            <key>cry02_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,325},{115,117}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{115,117}}</string>
                <key>sourceSize</key>
                <string>{115,121}</string>
            </dict>
            <key>cry03_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{359,2},{114,132}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,132}}</string>
                <key>sourceSize</key>
                <string>{114,136}</string>
            </dict>
            <key>cry03_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,298},{115,117}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{115,117}}</string>
                <key>sourceSize</key>
                <string>{115,121}</string>
            </dict>
            <key>head_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{197,177}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{197,177}}</string>
                <key>sourceSize</key>
                <string>{197,177}</string>
            </dict>
            <key>leg2_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,231},{48,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,57}}</string>
                <key>sourceSize</key>
                <string>{48,57}</string>
            </dict>
            <key>leg_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,181},{48,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,57}}</string>
                <key>sourceSize</key>
                <string>{48,57}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>liuju.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0faec17bc3aa1e5bddb869243888b1ba$</string>
            <key>textureFileName</key>
            <string>liuju.png</string>
        </dict>
    </dict>
</plist>
