<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>gebo01_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,197},{22,27}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{22,27}}</string>
                <key>sourceSize</key>
                <string>{28,33}</string>
            </dict>
            <key>gebo02_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,244},{42,20}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,5},{42,20}}</string>
                <key>sourceSize</key>
                <string>{54,34}</string>
            </dict>
            <key>maozi_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,253},{54,37}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{54,37}}</string>
                <key>sourceSize</key>
                <string>{60,43}</string>
            </dict>
            <key>pipei.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{273,38}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,5},{273,38}}</string>
                <key>sourceSize</key>
                <string>{289,52}</string>
            </dict>
            <key>pipei01.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,252},{16,15}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,22},{16,15}}</string>
                <key>sourceSize</key>
                <string>{36,51}</string>
            </dict>
            <key>shanzi_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,286},{37,29}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{37,29}}</string>
                <key>sourceSize</key>
                <string>{45,51}</string>
            </dict>
            <key>shenzi_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{423,205},{58,47}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{58,47}}</string>
                <key>sourceSize</key>
                <string>{62,49}</string>
            </dict>
            <key>tou_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,154},{88,88}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{88,88}}</string>
                <key>sourceSize</key>
                <string>{96,92}</string>
            </dict>
            <key>toufa01_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,221},{29,25}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{29,25}}</string>
                <key>sourceSize</key>
                <string>{33,33}</string>
            </dict>
            <key>toufa02_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,255},{48,29}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{48,29}}</string>
                <key>sourceSize</key>
                <string>{56,37}</string>
            </dict>
            <key>tui0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,42},{92,60}}</string>
                <key>offset</key>
                <string>{-3,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{92,60}}</string>
                <key>sourceSize</key>
                <string>{100,90}</string>
            </dict>
            <key>tui0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,230},{74,70}}</string>
                <key>offset</key>
                <string>{1,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,3},{74,70}}</string>
                <key>sourceSize</key>
                <string>{100,90}</string>
            </dict>
            <key>tui0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,317},{66,64}}</string>
                <key>offset</key>
                <string>{-6,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,4},{66,64}}</string>
                <key>sourceSize</key>
                <string>{100,90}</string>
            </dict>
            <key>tui0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,306},{68,68}}</string>
                <key>offset</key>
                <string>{-3,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,0},{68,68}}</string>
                <key>sourceSize</key>
                <string>{100,90}</string>
            </dict>
            <key>tui0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,143},{86,60}}</string>
                <key>offset</key>
                <string>{0,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,6},{86,60}}</string>
                <key>sourceSize</key>
                <string>{100,90}</string>
            </dict>
            <key>tui0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,104},{92,48}}</string>
                <key>offset</key>
                <string>{-4,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,48}}</string>
                <key>sourceSize</key>
                <string>{100,90}</string>
            </dict>
            <key>tui0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,197},{74,56}}</string>
                <key>offset</key>
                <string>{-3,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,9},{74,56}}</string>
                <key>sourceSize</key>
                <string>{100,90}</string>
            </dict>
            <key>tui0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,197},{54,60}}</string>
                <key>offset</key>
                <string>{-6,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,7},{54,60}}</string>
                <key>sourceSize</key>
                <string>{100,90}</string>
            </dict>
            <key>tui0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,244},{68,68}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,13},{68,68}}</string>
                <key>sourceSize</key>
                <string>{100,90}</string>
            </dict>
            <key>tui0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,249},{80,66}}</string>
                <key>offset</key>
                <string>{-3,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,7},{80,66}}</string>
                <key>sourceSize</key>
                <string>{100,90}</string>
            </dict>
            <key>yan0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,180},{154,48}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,20},{154,48}}</string>
                <key>sourceSize</key>
                <string>{180,90}</string>
            </dict>
            <key>yan0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,132},{162,46}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,20},{162,46}}</string>
                <key>sourceSize</key>
                <string>{180,90}</string>
            </dict>
            <key>yan0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,88},{164,42}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,24},{164,42}}</string>
                <key>sourceSize</key>
                <string>{180,90}</string>
            </dict>
            <key>yan0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,42},{166,44}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,22},{166,44}}</string>
                <key>sourceSize</key>
                <string>{180,90}</string>
            </dict>
            <key>yan0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,143},{160,52}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,19},{160,52}}</string>
                <key>sourceSize</key>
                <string>{180,90}</string>
            </dict>
            <key>yinying_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,230},{88,17}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,6},{88,17}}</string>
                <key>sourceSize</key>
                <string>{96,31}</string>
            </dict>
            <key>yuanbao_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{277,2},{229,139}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,3},{229,139}}</string>
                <key>sourceSize</key>
                <string>{257,145}</string>
            </dict>
            <key>yupei_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,42},{10,19}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{10,19}}</string>
                <key>sourceSize</key>
                <string>{16,25}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>rain.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:07331fef8937da656cff674071efb4dc$</string>
            <key>textureFileName</key>
            <string>rain.png</string>
        </dict>
    </dict>
</plist>
