<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>table_blue_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,104},{598,308}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{598,308}}</string>
                <key>sourceSize</key>
                <string>{600,310}</string>
            </dict>
            <key>table_lose_leaf.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,2},{51,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,45}}</string>
                <key>sourceSize</key>
                <string>{51,45}</string>
            </dict>
            <key>table_lose_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,104},{173,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{173,94}}</string>
                <key>sourceSize</key>
                <string>{173,94}</string>
            </dict>
            <key>table_lose_title01.png</key>
            <dict>
                <key>frame</key>
                <string>{{409,200},{88,93}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,1},{88,93}}</string>
                <key>sourceSize</key>
                <string>{96,95}</string>
            </dict>
            <key>table_lose_title02.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,200},{90,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{90,95}}</string>
                <key>sourceSize</key>
                <string>{96,95}</string>
            </dict>
            <key>table_win_lose.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{422,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{422,100}}</string>
                <key>sourceSize</key>
                <string>{422,100}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tablelose.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:44848817bb873eb5e5104306b3c8297e$</string>
            <key>textureFileName</key>
            <string>tablelose.png</string>
        </dict>
    </dict>
</plist>
