<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Online_box1.png</key>
            <dict>
                <key>frame</key>
                <string>{{843,812},{204,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,48}}</string>
                <key>sourceSize</key>
                <string>{204,48}</string>
            </dict>
            <key>Online_box2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1092,1398},{112,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,112}}</string>
                <key>sourceSize</key>
                <string>{112,112}</string>
            </dict>
            <key>Online_inside_bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{1244,2},{798,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{798,57}}</string>
                <key>sourceSize</key>
                <string>{798,57}</string>
            </dict>
            <key>Recharge_brand.png</key>
            <dict>
                <key>frame</key>
                <string>{{719,1024},{217,384}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{217,384}}</string>
                <key>sourceSize</key>
                <string>{217,384}</string>
            </dict>
            <key>VIPlist_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1244,61},{768,360}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{768,360}}</string>
                <key>sourceSize</key>
                <string>{768,360}</string>
            </dict>
            <key>activity_liban.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,1024},{234,544}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{234,544}}</string>
                <key>sourceSize</key>
                <string>{234,544}</string>
            </dict>
            <key>bg_advertisement.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,761},{260,465}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{260,465}}</string>
                <key>sourceSize</key>
                <string>{260,465}</string>
            </dict>
            <key>bg_menu.png</key>
            <dict>
                <key>frame</key>
                <string>{{957,1746},{195,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{195,142}}</string>
                <key>sourceSize</key>
                <string>{195,142}</string>
            </dict>
            <key>bisai_bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,569},{444,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{444,39}}</string>
                <key>sourceSize</key>
                <string>{444,39}</string>
            </dict>
            <key>bisai_bg9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1436,1811},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>bisaikaishidengdai_box.png</key>
            <dict>
                <key>frame</key>
                <string>{{1769,931},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>coming_bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{667,1024},{389,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{389,50}}</string>
                <key>sourceSize</key>
                <string>{389,50}</string>
            </dict>
            <key>dengji_bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,1570},{41,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,41}}</string>
                <key>sourceSize</key>
                <string>{41,41}</string>
            </dict>
            <key>details_dangqian.png</key>
            <dict>
                <key>frame</key>
                <string>{{1212,1018},{181,79}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{181,79}}</string>
                <key>sourceSize</key>
                <string>{185,83}</string>
            </dict>
            <key>dialog_box.png</key>
            <dict>
                <key>frame</key>
                <string>{{1206,1491},{157,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,216}}</string>
                <key>sourceSize</key>
                <string>{157,216}</string>
            </dict>
            <key>diban_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,1550},{401,343}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{401,343}}</string>
                <key>sourceSize</key>
                <string>{401,343}</string>
            </dict>
            <key>diban_left_erji.png</key>
            <dict>
                <key>frame</key>
                <string>{{1769,1094},{220,343}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,343}}</string>
                <key>sourceSize</key>
                <string>{220,343}</string>
            </dict>
            <key>diban_left_set.png</key>
            <dict>
                <key>frame</key>
                <string>{{1779,483},{161,284}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,284}}</string>
                <key>sourceSize</key>
                <string>{161,284}</string>
            </dict>
            <key>email_jieshao.png</key>
            <dict>
                <key>frame</key>
                <string>{{1991,1094},{105,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,48}}</string>
                <key>sourceSize</key>
                <string>{105,48}</string>
            </dict>
            <key>email_rqbj.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2012},{184,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,34}}</string>
                <key>sourceSize</key>
                <string>{184,34}</string>
            </dict>
            <key>email_touxiang.png</key>
            <dict>
                <key>frame</key>
                <string>{{684,1952},{73,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,73}}</string>
                <key>sourceSize</key>
                <string>{73,73}</string>
            </dict>
            <key>email_tuoyuan.png</key>
            <dict>
                <key>frame</key>
                <string>{{1365,1548},{68,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,68}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>email_yjbj.png</key>
            <dict>
                <key>frame</key>
                <string>{{1330,1817},{104,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,104}}</string>
                <key>sourceSize</key>
                <string>{104,104}</string>
            </dict>
            <key>everyday_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{973,1636},{108,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,108}}</string>
                <key>sourceSize</key>
                <string>{108,108}</string>
            </dict>
            <key>everyday_ditiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{2014,374},{111,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,29}}</string>
                <key>sourceSize</key>
                <string>{111,29}</string>
            </dict>
            <key>everyday_mengceng.png</key>
            <dict>
                <key>frame</key>
                <string>{{1212,1296},{173,193}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{173,193}}</string>
                <key>sourceSize</key>
                <string>{173,193}</string>
            </dict>
            <key>everyday_now.png</key>
            <dict>
                <key>frame</key>
                <string>{{956,812},{189,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{189,200}}</string>
                <key>sourceSize</key>
                <string>{189,200}</string>
            </dict>
            <key>everyday_xiaodi.png</key>
            <dict>
                <key>frame</key>
                <string>{{1212,1099},{173,195}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{173,195}}</string>
                <key>sourceSize</key>
                <string>{173,195}</string>
            </dict>
            <key>gain_bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{845,569},{359,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{359,41}}</string>
                <key>sourceSize</key>
                <string>{359,41}</string>
            </dict>
            <key>gain_bg_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{1216,483},{561,296}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{561,296}}</string>
                <key>sourceSize</key>
                <string>{561,296}</string>
            </dict>
            <key>game_dibian.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,1024},{541,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{541,53}}</string>
                <key>sourceSize</key>
                <string>{541,53}</string>
            </dict>
            <key>game_xiadibian.png</key>
            <dict>
                <key>frame</key>
                <string>{{285,569},{558,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{558,118}}</string>
                <key>sourceSize</key>
                <string>{558,118}</string>
            </dict>
            <key>gift_inside_bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{1216,423},{731,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{731,58}}</string>
                <key>sourceSize</key>
                <string>{731,58}</string>
            </dict>
            <key>gift_inside_box.png</key>
            <dict>
                <key>frame</key>
                <string>{{43,569},{440,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{440,59}}</string>
                <key>sourceSize</key>
                <string>{440,59}</string>
            </dict>
            <key>head_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{1534,1913},{96,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{96,96}}</string>
                <key>sourceSize</key>
                <string>{106,106}</string>
            </dict>
            <key>head_picture.png</key>
            <dict>
                <key>frame</key>
                <string>{{973,1943},{100,102}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{100,102}}</string>
                <key>sourceSize</key>
                <string>{106,106}</string>
            </dict>
            <key>img_null.png</key>
            <dict>
                <key>frame</key>
                <string>{{2045,374},{1,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>libaoxiangqing_bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{945,1491},{145,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,33}}</string>
                <key>sourceSize</key>
                <string>{145,33}</string>
            </dict>
            <key>libaoxiangqing_box.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,569},{130,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,51}}</string>
                <key>sourceSize</key>
                <string>{130,51}</string>
            </dict>
            <key>libaoxiangqing_di.png</key>
            <dict>
                <key>frame</key>
                <string>{{1387,1329},{217,326}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{217,326}}</string>
                <key>sourceSize</key>
                <string>{217,326}</string>
            </dict>
            <key>libaoxiangqing_ditiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1024},{986,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{986,40}}</string>
                <key>sourceSize</key>
                <string>{986,40}</string>
            </dict>
            <key>list_beijingkuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{573,1953},{109,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,89}}</string>
                <key>sourceSize</key>
                <string>{109,89}</string>
            </dict>
            <key>list_biaotibeijing.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,1570},{436,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{436,99}}</string>
                <key>sourceSize</key>
                <string>{436,99}</string>
            </dict>
            <key>list_fangjianbeijing.png</key>
            <dict>
                <key>frame</key>
                <string>{{1991,1201},{287,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{287,46}}</string>
                <key>sourceSize</key>
                <string>{287,46}</string>
            </dict>
            <key>loudspeaker_box.png</key>
            <dict>
                <key>frame</key>
                <string>{{945,1398},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>maill_baoshidi.png</key>
            <dict>
                <key>frame</key>
                <string>{{571,781},{238,270}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{238,270}}</string>
                <key>sourceSize</key>
                <string>{238,270}</string>
            </dict>
            <key>mall_dingdibu.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,87},{1232,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1232,89}}</string>
                <key>sourceSize</key>
                <string>{1232,89}</string>
            </dict>
            <key>mybag_big_bgNine.png</key>
            <dict>
                <key>frame</key>
                <string>{{1432,1923},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>mybag_circle_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{157,569},{126,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,126}}</string>
                <key>sourceSize</key>
                <string>{126,126}</string>
            </dict>
            <key>mybag_see_bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,1024},{392,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{392,49}}</string>
                <key>sourceSize</key>
                <string>{392,49}</string>
            </dict>
            <key>mybag_see_circle.png</key>
            <dict>
                <key>frame</key>
                <string>{{1177,1886},{151,151}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,151}}</string>
                <key>sourceSize</key>
                <string>{151,151}</string>
            </dict>
            <key>mybag_see_liban.png</key>
            <dict>
                <key>frame</key>
                <string>{{1330,1923},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>mybag_small_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1194,781},{199,235}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,235}}</string>
                <key>sourceSize</key>
                <string>{199,235}</string>
            </dict>
            <key>password_box1.png</key>
            <dict>
                <key>frame</key>
                <string>{{551,1024},{503,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{503,63}}</string>
                <key>sourceSize</key>
                <string>{503,63}</string>
            </dict>
            <key>password_box2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1949,423},{599,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{599,63}}</string>
                <key>sourceSize</key>
                <string>{599,63}</string>
            </dict>
            <key>password_box3.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,1570},{459,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{459,63}}</string>
                <key>sourceSize</key>
                <string>{459,63}</string>
            </dict>
            <key>password_daojishi.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,1802},{153,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,38}}</string>
                <key>sourceSize</key>
                <string>{153,38}</string>
            </dict>
            <key>pay_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1363,1709},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>pay_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{1210,178},{522,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{522,4}}</string>
                <key>sourceSize</key>
                <string>{522,4}</string>
            </dict>
            <key>personalcenter_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1083,1622},{108,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,108}}</string>
                <key>sourceSize</key>
                <string>{108,108}</string>
            </dict>
            <key>personalcenter_info_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1075,1943},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>personalcenter_lable_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{493,1991},{54,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,54}}</string>
                <key>sourceSize</key>
                <string>{54,54}</string>
            </dict>
            <key>personalcenter_photo.png</key>
            <dict>
                <key>frame</key>
                <string>{{1779,769},{160,160}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,5},{160,160}}</string>
                <key>sourceSize</key>
                <string>{166,166}</string>
            </dict>
            <key>personalcenter_photo_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1101,1732},{152,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,7},{152,152}}</string>
                <key>sourceSize</key>
                <string>{166,166}</string>
            </dict>
            <key>personalcenter_recharge_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{683,1908},{262,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{262,42}}</string>
                <key>sourceSize</key>
                <string>{262,42}</string>
            </dict>
            <key>prize_bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{893,812},{201,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{201,61}}</string>
                <key>sourceSize</key>
                <string>{201,61}</string>
            </dict>
            <key>quit_bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{845,612},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>ranking_dibian.png</key>
            <dict>
                <key>frame</key>
                <string>{{759,1952},{72,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,72}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>ranking_fengexian.png</key>
            <dict>
                <key>frame</key>
                <string>{{2014,61},{5,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{5,58}}</string>
                <key>sourceSize</key>
                <string>{5,58}</string>
            </dict>
            <key>ranking_jinbidi.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,1613},{187,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,38}}</string>
                <key>sourceSize</key>
                <string>{187,38}</string>
            </dict>
            <key>ranking_wodepaiming.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,1953},{233,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{233,36}}</string>
                <key>sourceSize</key>
                <string>{233,36}</string>
            </dict>
            <key>ranking_ziji.png</key>
            <dict>
                <key>frame</key>
                <string>{{903,1952},{68,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,68}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>room_beijing_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1395,1055},{272,372}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{272,372}}</string>
                <key>sourceSize</key>
                <string>{272,374}</string>
            </dict>
            <key>room_beijing_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1395,781},{272,372}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{272,372}}</string>
                <key>sourceSize</key>
                <string>{272,374}</string>
            </dict>
            <key>room_beijing_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{938,1024},{272,372}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{272,372}}</string>
                <key>sourceSize</key>
                <string>{272,374}</string>
            </dict>
            <key>room_beijing_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{683,1534},{272,372}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{272,372}}</string>
                <key>sourceSize</key>
                <string>{272,374}</string>
            </dict>
            <key>split_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{1236,87},{177,5}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,5}}</string>
                <key>sourceSize</key>
                <string>{177,5}</string>
            </dict>
            <key>table_accounting_bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,702},{1105,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1105,57}}</string>
                <key>sourceSize</key>
                <string>{1105,57}</string>
            </dict>
            <key>table_accounting_diban.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,178},{1206,389}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1206,389}}</string>
                <key>sourceSize</key>
                <string>{1206,389}</string>
            </dict>
            <key>table_chat_bubble1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1851,931},{76,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,76}}</string>
                <key>sourceSize</key>
                <string>{76,76}</string>
            </dict>
            <key>table_chat_bubble2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2014,355},{31,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,17}}</string>
                <key>sourceSize</key>
                <string>{31,17}</string>
            </dict>
            <key>table_chat_diban9.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,1418},{114,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,114}}</string>
                <key>sourceSize</key>
                <string>{114,114}</string>
            </dict>
            <key>table_chat_input.png</key>
            <dict>
                <key>frame</key>
                <string>{{253,1994},{238,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{238,52}}</string>
                <key>sourceSize</key>
                <string>{238,52}</string>
            </dict>
            <key>table_chat_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{2044,2},{351,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{351,2}}</string>
                <key>sourceSize</key>
                <string>{351,2}</string>
            </dict>
            <key>table_chat_neiban9.png</key>
            <dict>
                <key>frame</key>
                <string>{{973,1526},{108,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,108}}</string>
                <key>sourceSize</key>
                <string>{108,108}</string>
            </dict>
            <key>table_chat_tab1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1769,1024},{68,273}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,273}}</string>
                <key>sourceSize</key>
                <string>{68,273}</string>
            </dict>
            <key>table_chat_tab2.png</key>
            <dict>
                <key>frame</key>
                <string>{{927,612},{68,273}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,273}}</string>
                <key>sourceSize</key>
                <string>{68,273}</string>
            </dict>
            <key>table_jifennow_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{732,1410},{211,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{211,113}}</string>
                <key>sourceSize</key>
                <string>{211,113}</string>
            </dict>
            <key>table_menu_diban9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1255,1709},{106,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,106}}</string>
                <key>sourceSize</key>
                <string>{106,106}</string>
            </dict>
            <key>table_player_liban9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1092,1512},{108,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,108}}</string>
                <key>sourceSize</key>
                <string>{108,108}</string>
            </dict>
            <key>table_player_namebar.png</key>
            <dict>
                <key>frame</key>
                <string>{{843,761},{349,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{349,49}}</string>
                <key>sourceSize</key>
                <string>{349,49}</string>
            </dict>
            <key>title.png</key>
            <dict>
                <key>frame</key>
                <string>{{253,1570},{422,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{422,83}}</string>
                <key>sourceSize</key>
                <string>{422,83}</string>
            </dict>
            <key>under_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1240,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1240,83}}</string>
                <key>sourceSize</key>
                <string>{1240,83}</string>
            </dict>
            <key>under_split.png</key>
            <dict>
                <key>frame</key>
                <string>{{2021,61},{5,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{5,56}}</string>
                <key>sourceSize</key>
                <string>{5,56}</string>
            </dict>
            <key>zjz_join_box.png</key>
            <dict>
                <key>frame</key>
                <string>{{833,1952},{68,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,68}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>zjz_whitebg.png</key>
            <dict>
                <key>frame</key>
                <string>{{335,1024},{214,524}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{214,524}}</string>
                <key>sourceSize</key>
                <string>{214,524}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>layer01.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ff75a072e027a2e806c695927cdfea9b$</string>
            <key>textureFileName</key>
            <string>layer01.png</string>
        </dict>
    </dict>
</plist>
