<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,136}</string>
                <key>spriteSourceSize</key>
                <string>{104,136}</string>
                <key>textureRect</key>
                <string>{{0,236},{104,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,136}</string>
                <key>spriteSourceSize</key>
                <string>{104,136}</string>
                <key>textureRect</key>
                <string>{{104,236},{104,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>100.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,136}</string>
                <key>spriteSourceSize</key>
                <string>{104,136}</string>
                <key>textureRect</key>
                <string>{{208,236},{104,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,136}</string>
                <key>spriteSourceSize</key>
                <string>{104,136}</string>
                <key>textureRect</key>
                <string>{{104,372},{104,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,136}</string>
                <key>spriteSourceSize</key>
                <string>{104,136}</string>
                <key>textureRect</key>
                <string>{{0,372},{104,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>200.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,136}</string>
                <key>spriteSourceSize</key>
                <string>{104,136}</string>
                <key>textureRect</key>
                <string>{{312,236},{104,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,136}</string>
                <key>spriteSourceSize</key>
                <string>{104,136}</string>
                <key>textureRect</key>
                <string>{{208,100},{104,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,136}</string>
                <key>spriteSourceSize</key>
                <string>{104,136}</string>
                <key>textureRect</key>
                <string>{{0,100},{104,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,136}</string>
                <key>spriteSourceSize</key>
                <string>{104,136}</string>
                <key>textureRect</key>
                <string>{{312,100},{104,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>50.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,136}</string>
                <key>spriteSourceSize</key>
                <string>{104,136}</string>
                <key>textureRect</key>
                <string>{{104,100},{104,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hongbaosai.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{146,100}</string>
                <key>spriteSourceSize</key>
                <string>{146,100}</string>
                <key>textureRect</key>
                <string>{{50,0},{146,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>iPhoneX.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,138}</string>
                <key>spriteSourceSize</key>
                <string>{80,138}</string>
                <key>textureRect</key>
                <string>{{208,372},{80,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>iPhoneXmenpiao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{146,100}</string>
                <key>spriteSourceSize</key>
                <string>{146,100}</string>
                <key>textureRect</key>
                <string>{{196,0},{146,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ipad_xiao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,64}</string>
                <key>spriteSourceSize</key>
                <string>{50,64}</string>
                <key>textureRect</key>
                <string>{{0,0},{50,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>weekcard.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{320,264}</string>
                <key>spriteSourceSize</key>
                <string>{320,264}</string>
                <key>textureRect</key>
                <string>{{0,522},{320,264}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yingbi_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,150}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{288,372},{150,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>red_packet.png</string>
            <key>size</key>
            <string>{438,786}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ef6f866874ff61c2ce1cfa6367573106:e2a75a197bedbf1de1a7d7045be709c7:321c5ddeb889086a8d442e384fd63622$</string>
            <key>textureFileName</key>
            <string>red_packet.png</string>
        </dict>
    </dict>
</plist>
